# .env.example, committed to repo
## See https://github.com/rolodato/dotenv-safe#readme
## ⛔️
## ⛔️  DO NOT COMMIT YOUR ACTUAL .env file to version control.
## 🚫  It should only include environment-specific values such
## 🚫  as database passwords or API keys. 
## 🚫  Your production database should have a different password
## 🚫  than your development database.
## 🚫
## 🚫  See https://github.com/motdotla/dotenv#faq for details.
## ⛔️

## {string} required
GITHUB_ACCESS_TOKEN=

