# .env.example, committed to repo
## See https://github.com/rolodato/dotenv#readme
## ⛔️
## ⛔️  DO NOT COMMIT YOUR ACTUAL .env file to version control.
## 🚫  It should only include environment-specific values such
## 🚫  as database passwords or API keys. 
## 🚫  Your production database should have a different password
## 🚫  than your development database.
## 🚫
## 🚫  See https://github.com/motdotla/dotenv#faq for details.

# ❗️❗️ ️ENV VARS required for github-resource-converter CI workflows️❗️️❗️
## ✏️  Add values to these ENV VARs and save to
## 💾 ➡️ 📁 📄  /usr/local/etc/github-resource-converter/:version/envvars/.env
## ℹ️  where :version is <projectRoot>'s package.json#version value

## ♻️ GitHub
## {string} required
GITHUB_ACCESS_TOKEN=

## ♻️ Codacy
## @see https://github.com/codacy/node-codacy-coverage#installation
## {string} required - used by npm-script test:ci:coverage:codacy
CODACY_PROJECT_TOKEN=

## {string} required - used by npm-script test:ci:coverage:codacy
CODACY_USERNAME=

## ⛔
## ⛔